.Header {
    align-items: center;
    background-color: #333;
    color: white;
    display: flex; 
    font-size: 1.2em;
    font-weight: bold;
    height: 60px;
    justify-content: flex-start;
    justify-content: space-between;

    padding: 10px 10px 20px 15px;

    width: 100vw;
}

.logout {
    margin-top: 30px;
}

.logout-button {
    background-color: transparent;
    border: none;
    color: #007bff;
}

.logout-button:hover {
    opacity: 0.7;
}