.Nav {
    background-color: #aaa;
    color:white;
    display: flex;
    height: 30px;

    align-items: flex-end;
    justify-content: center;
    
    width: 100vw;
}

.Nav a {
    color: #666;
    background-color: #eee;
}