.Header {
    align-items: center;
    background-color: #333;
    color: white;
    display: flex; 
    font-size: 1.2em;
    font-weight: bold;
    height: 60px;
    justify-content: start;

    padding: 10px 0px 20px 15px;

    width: 100vw;
}