.users-listing-line {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.users-listing-line button {
  color: white;
  border: none;  
  padding: 7px;
  margin-left: 5px;
}

.users-listing-header {
  margin: 10px 0px;
  border-bottom: 1px solid gray;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
