.current {
    align-items: center;
    border: 4px  #bbb;
    /* border-bottom: 4px solid  #bbb; */
    /* border-left: 4px solid  #bbb;
    border-radius: 6px;
    border-right: 4px solid  #bbb;
    border-top: 1px solid  #bbb; */
    display: flex;
    flex: 1;
    text-align: left;
    background-color: #eee;
    box-shadow: #bbb 4px 4px 4px;
    border-radius: 4px;
}

.current-password-highlight {
    font-weight: bold;
    font-size: 2.8em;
    margin-left: 15px;
}

.in-progress {
    flex: 1;
    font-weight: bold;
    min-width: 300px;
}

.finished {
    flex: 1;
    font-weight: bold;
    min-width: 300px;
}

.shared {
    padding: 15px;
}

.line {   
    padding: 10px;
    margin-top: 5px;
    background-color: #eee;
    box-shadow: #bbb 4px 4px 4px;
    border-radius: 4px;
}
